### 生成 Series

In [2]:
import numpy as np
import pandas as pd

In [6]:
s = pd.Series(np.random.randn(5), index={'a','b','c','d','e'})
s

b   -0.488429
e    1.418711
d   -1.577664
c    1.864706
a    0.558563
dtype: float64

In [8]:
s2 = pd.Series(np.random.randn(5))
s2

0   -0.210590
1   -2.140071
2   -0.719123
3    0.786994
4    0.093125
dtype: float64

In [7]:
s.index

Index(['b', 'e', 'd', 'c', 'a'], dtype='object')

In [9]:
s2.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
d = {'a':0, 'c':2, 'b':1}

In [11]:
type(d)

dict

In [12]:
s3 = pd.Series(d)
s3

a    0
c    2
b    1
dtype: int64

In [14]:
pd.Series(d, index={'a','v','c'}) # 如果指定索引 则会按索引顺序 如有无法与索引匹配的值 会产生缺失值

c    2.0
a    0.0
v    NaN
dtype: float64

In [17]:
pd.Series(666)
pd.Series(5.0, index={'a','b','c'}) # 对于标量 如果指定索引 则其长度为索引的数量 且每个值都是它本身

c    5.0
b    5.0
a    5.0
dtype: float64

### 生成 DataFrame

In [ ]:
# 基本的 DataFrame 定义
df = pd.DataFrame(data=None, index=None, columns=None)

In [19]:
d = {
    '国家':['中国','美国','日本'],
    '人口':[14.33,3.29,1.26]}
df = pd.DataFrame(d)
df

   国家     人口
0  中国  14.33
1  美国   3.29
2  日本   1.26

In [25]:
df = pd.DataFrame(d,index=['a','b','c'])
# df = pd.DataFrame(d,index={'a','b','c'})
df

   国家     人口
a  中国  14.33
b  美国   3.29
c  日本   1.26

In [27]:
# Series 组成的字典
d2 = {
    'x':pd.Series([1.,2.,3.,4.],index=['a','b','c','d']),
    'y':pd.Series([4,5,6],index=['a','b','c'])
}

In [30]:
df2 = pd.DataFrame(d2)
df2

     x    y
a  1.0  4.0
b  2.0  5.0
c  3.0  6.0
d  4.0  NaN

In [31]:
# 列表 + 字典
d3 = [
    {'x':1,'y':2},
    {'x':5,'y':6,'z':7}
]

In [34]:
df4 = pd.DataFrame(d3,index=['a','b'])
df4

   x  y    z
a  1  2  NaN
b  5  6  7.0

In [36]:
# 直接通过 Series
s = pd.Series([1,2,3,4,5,6,7])
pd.DataFrame(s)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [37]:
# from_dict  from_records
pd.DataFrame.from_dict(d)

   国家     人口
0  中国  14.33
1  美国   3.29
2  日本   1.26

In [38]:
pd.DataFrame.from_records(d3)

   x  y    z
0  1  2  NaN
1  5  6  7.0

In [39]:
df4.dtypes

x      int64
y      int64
z    float64
dtype: object

In [42]:
s.dtype

dtype('int64')